.clerk_powerstep_continue {

    display: inline-block;
    width: 20%;
    float: right;

}
.clerk_powerstep_close {

    width: 20%;
    display: inline-block;
    margin-top: 0!important;

}

#clerk-powerstep {

    width: 90%;
    overflow-y: scroll;
    height: 80%;
    display: none;

}

#clerk_powerstep_header_h2 {

    text-align: center;

}

.clerk_powerstep_image {

    text-align: center;

}

#clerk_powerstep_image_img {

    height: 250px;

}