#clerk-search-results {

    width: 70%;

}
#clerk-search-filters {

    width: 30%;

}
.clerk-search-page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.clerk-search-headline {
    text-align: center;
}