{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}
{% block page_product_detail_cross_selling %}
	{% if shopware.config.Clerkio.config.productRecommendationsEnabled == 'true' %}
		{% set contents = shopware.config.Clerkio.config.productRecommendationsContent | split(',') %}
		{% for content in contents %}
			<span class="clerk" data-template="@{{ content | replace({' ': ''}) }}" data-products='["{{ page.product.parentId ? page.product.parentId : page.product.id }}"]'></span>
		{% endfor %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
